.services-carousel {
  cursor: grab;
  margin-left: 7.5%;
  width: 85%;
}

.services-card-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.services-item {
  min-width: 20vw;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  height: 40vh;
  font-family: "Old Standard TT-Bold", Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-item-image-box {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 120px;
  min-height: 120px;
}
.services-item-image {
  height: 100px;
  width: 100px;
  max-height: 50%;
  max-width: 50%;
}
.services-item-text {
  color: var(--tertiary-color);
  margin-top: 10%;
  width: 80%;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  text-align: center;
}

.services {
  height: auto;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

.services-button-box {
  height: 20vh;
  width: 30%;
  margin-left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-button {
  background-color: var(--secundary-color);
  color: white;
  height: 35%;
  border-radius: 18px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
}
.services-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 5%;
}

.services-title {
  color: var(--secundary-color);
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-size: 30px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.services .slick-next,
.services .slick-next:hover {
  background-color: var(--secundary-color);
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.services .slick-prev,
.services .slick-prev:hover {
  background-color: var(--secundary-color);
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.services .slick-next:before,
.services .slick-prev:before {
  border-radius: 100%;
  margin-top: 15%;
  color: white;
  opacity: 1;
}

@media (max-width: 768px) {
  .line-left,
  .line-right {
    display: none;
  }
  .services {
    height: auto;
    margin-bottom: 20%;
  }
  .services-title {
    font-size: 24px;
  }
  .services-carousel {
    width: 80%;
    margin-left: 10%;
  }
  .services-card-container {
    margin-top: 5%;
    height: 40vh;
  }
  .services-item-text {
    font-size: 18px;
    width: 100%;
  }
  .services-button-box {
    height: 10%;
    width: 80%;
    margin-left: 10%;
  }
}
