.beneficios-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beneficios-carousel {
  margin-top: 5%;
  width: 75%;
}

.containerImageCat {
  position: relative;
  height: 12.5rem;
}

#imageCat {
  width: 50%;
}

@media (max-width: 768px) {
  .containerImageCat {
    height: 8rem;
  }
}

@media (max-width: 600px) {
  .containerImageCat {
    height: 6rem;
  }

  #imageCat {
    width: 80%;
  }
}