.contactFont{
    background-color: var(--primary-color);
    width: 100%;
    padding: 0 30px;
}

.container{
    padding:50px;
    margin: 0 45px;
}

.contactTitle{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 24px;
    text-transform: uppercase;
}
.contactSubtitle{
    color: #5F5F5F;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 24px;
}