.beneFont{
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    margin-bottom: 300px;
}


.beneSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 60px 0px;
    padding-top: 85px;
}

.beneTitle{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 24px;
}

.beneLine1{
      top: 50%;
      transform: translateY(-50%) scaleX(0.8);
      width: 15%;
      height: 3px;
      margin-bottom: 16px;
      background-color: #FFFFFF; 
  }

.beneLine2{
    top: 50%;
    transform: translateY(-50%) scaleX(0.8);
    width: 15%;
    height: 3px;
    margin-bottom: 16px;
    background-color: #FFFFFF; 
}

.beneSection2{
    width: 100%;
}

.beneDescription{
    width: 100%;
}

.beneDescriptionText {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    line-height: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.beneDescriptionText2{
    text-align: center;
    text-transform: uppercase;
    line-height: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}