.cta {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.div-container {
  margin: 0;
  width: 100%;
  text-align: center;
  display: flex;
}

.col-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.static-image-logo {
  position: absolute;
  height: 30%;
  right: 0%;
}

.static-image-logo:hover {
  opacity: 0;
}

.gif-gato-logo-box {
  height: 30%;
  top: 40%;
  position: absolute;
}

.start-gif-logo {
  height: 100%;
}
.gif-gato-logo-2 {
  height: 100%;
}

@keyframes angular {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 250px);
  }
}

.angular {
  display: flex;
  width: 93px;
  height: 93px;
  left: 45%;
  flex-shrink: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary-logo-color);
  position: absolute;
  animation: angular 1s forwards ease-in-out;
}

@keyframes django {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-150px, 0);
  }
}

.django {
  display: flex;
  width: 60px;
  height: 60px;
  top: 41%;
  background-color: var(--secundary-logo-color);
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: django 1s forwards ease-in-out;
}

@keyframes js {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(130px, 280px);
  }
}
.js {
  display: flex;
  background-color: var(--primary-logo-color);
  height: 103px;
  width: 103px;
  border-radius: 50%;
  flex-shrink: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  animation: js 1s 1s forwards ease-in-out;
}

@keyframes node {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-150px, 250px);
  }
}
.node {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--primary-logo-color);
  animation: node 1s 1s forwards ease-in-out;
}

@keyframes php {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(220px, 150px);
  }
}
.php {
  display: flex;
  width: 176px;
  height: 176px;
  top: 40%;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-logo-color);
  position: absolute;
  animation: php 1s 1s forwards ease-in-out;
}

@keyframes python {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -150px);
  }
}

.python {
  display: flex;
  width: 93px;
  height: 93px;
  left: 50%;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary-logo-color);
  position: absolute;
  animation: python 1s forwards ease-in-out;
}

@keyframes react {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(220px, 0);
  }
}
.react {
  display: flex;
  width: 108px;
  height: 108px;
  top: 43%;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary-logo-color);
  position: absolute;
  animation: react 1s forwards ease-in-out;
}

@keyframes ruby {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(200px, -125px);
  }
}
.ruby {
  display: flex;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-logo-color);
  position: absolute;
  animation: ruby 1s 1s forwards ease-in-out;
}
@keyframes vue {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-120px, -190px);
  }
}
.vue {
  display: flex;
  width: 194px;
  height: 194px;
  top: 40%;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-logo-color);
  position: absolute;
  animation: vue 1s 1s forwards ease-in-out;
}

@keyframes wordpress {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-240px, 0);
  }
}
.wordpress {
  display: flex;
  position: absolute;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  top: 45%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary-logo-color);
  animation: wordpress 1s forwards ease-in-out;
}
.col-right {
  height: 100vh;
  width: 50%;
  left: 50%;
}
.div-text {
  height: 60%;
}

.title {
  padding-top: 20%;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.subtitle {
  padding-top: 5%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #5f5f5f;
  text-align: center;
  height: auto;
  width: 80%;
  margin-left: 10%;
  top: 290px;
  left: 846px;
  line-height: normal;
}

.div-contact-box {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-contact {
  background-color: var(--primary-color);
  color: white;
  width: 25%;
  height: 20%;
  border-radius: 24px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  border: none;
}

.svg-background {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.gif-gato-logo-box-responsive {
  display: none;
}

@media screen and (max-width: 767px) {
  /* Estilos para pantallas pequeñas */
  .angular,
  .django,
  .js,
  .node,
  .php,
  .python,
  .react,
  .ruby,
  .vue,
  .wordpress,
  .static-image-logo:hover,
  .gif-gato-logo-2 {
    display: none;
  }
  .cta {
    flex-direction: column;
    align-items: center;
  }
  .div-container {
    flex-direction: column;
    align-items: center;
  }
  /* .col-left,
  .col-right {
    width: 100%;
    text-align: center;
  } */
  .col-left,
  .col-right {
    width: 100%;
    text-align: center;
  }
  .col-left {
    order: 2;
  }
  .col-right {
    order: 1;
  }
  .gif-gato-logo-box {
    /* width: 90%;
    height: 70%;
    top: 15%;
    left: 5%; */
    display: none;
  }
  .gif-gato-logo-box-responsive {
    display: block;
    margin-top: 10%;
  }
  .start-gif-logo-responsive {
    height: 250px;
    width: 250px;
  }
  .start-gif-logo {
    display: none;
  }
  .static-image-logo {
    display: none;
  }
  .div-text {
    height: auto;
  }
  .title {
    /* padding-top: 10%; */
    margin-top: 75%;
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
  }
  .button-contact {
    margin-bottom: 25%;
    font-size: 18px;
    width: 50%;
  }
  path {
    transform: translateX(-130px) translateY(-150px); /* Ajusta el valor según sea necesario */
    animation: wave-animation 5s infinite; /* Ajusta la duración según sea necesario */
  }
}
@keyframes wave-animation {
  0%,
  100% {
    d: path(
      "M0 531.685C0 531.685 245.944 431.931 442.111 431.931C638.278 431.931 793.092 455.078 1013.93 531.685C1234.77 608.291 1730 559.956 1730 559.956V0H0V531.685Z"
    );
  }

  50% {
    d: path(
      "M0 531.685C0 531.685 245.944 531.685 442.111 531.685C638.278 531.685 793.092 501.078 1013.93 531.685C1234.77 562.291 1730 531.685 1730 531.685V0H0V531.685Z"
    );
  }

  /* 100% {
    d: path(
      "M0 531.685C0 531.685 245.944 531.685 442.111 531.685C638.278 531.685 793.092 431.931 1013.93 431.931C1234.77 431.931 1730 531.685 1730 531.685V0H0V531.685Z"
    );
  } */
}
