/* The following block can be included in a custom.scss */

/* make the customizations */
$primary: #ff00ff;
$utilities: (
  "height": (
    property: height,
    class: h,
    values: (
      3px: 3px,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  )
);

/* import bootstrap to set changes */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
