:root{
    --font-family-body: "Open Sans", sans-serif;

    --primary-color: #B8AFD5;
    --secundary-color: #B4AAD4;
    --tertiary-color: #8987C1;
    --quaternary-color: #8888C1;

    --primary-logo-color: #D7BCDC;
    --secundary-logo-color: #9A6D89;

    --nav-gradient: linear-gradient(90deg, rgba(184,175,213,0) 0%, rgba(180,170,212,1) 55%);
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    width: 100%;
    background-color: var(--primary-color);
    gap: 5px;
    padding-bottom: 50px;
    max-height: 200px
}
.img_footer {
    width: 180px;
    
}

.footer-links {
    display: flex;
    color: white;
    font-size: 50px;
    font-size: 40px; 
    gap: 45px;
    
}

.footer-icons{
    width: 50px;
    height: auto;
}

.copyright {
    font-family: var(--font-family-body);
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px
}

.sin-enlace {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (min-width: 375px) and (max-width: 768px) {
    .footer { height: auto; max-height: 180px}
    .img_footer { width: 120px;} 
    .footer-links { font-size: 40px; gap: 35px;} 
    .copyright { font-size: 12px; }
    .footer-icons{width: 35px;} 
}
/* Para pantallas entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer { height: auto; max-height: 200px}
    .img_footer { width: 150px; margin-top: 45px; } 
    .footer-links { font-size: 40px; gap: 35px; } 
    .copyright { font-size: 14px; margin-top: 0; }
    .footer-icons{width: 40px;}  
}
/* Para pantallas entre 1024px y 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
    .footer { height: auto; max-height: 220px } 
    .img_footer { width: 180px; } 
    .footer-links { font-size: 40px; gap: 40px; } 
    .copyright { font-size: 12px; margin-bottom: 20px; }
    .footer-icons{width: 45px;} 
}
