.portfolio-container {
  min-height: 50vh;
  background: linear-gradient(180deg, #b8afd5 42.05%, #fff 95.42%);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  text-transform: uppercase;
}
.portfolio-title {
  font-style: normal;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
 
.portfolio-hr {
  width: 20%;
  border: 1px solid white;
  margin: 5px;
}

.portfolio-p {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  max-width: 75%;
}
.description-modal-portfolio{
   margin-top: 20px;
  background-color: rgba(228, 226, 226, 0.781);
  border-radius: 15px;
  padding: 30px;
  width: 95%;
  display: flex;
  margin: 20px auto 0 auto;
  text-align: left;
  
}
.box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 10%;
  padding: 5px;
}

.portfolio-label {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.portfolio-pildora {
  display: flex;
  justify-content: center;
  position: relative;
  align-self: end;
  padding: 5px;
  background-color: rgba(137, 135, 193, 0.6);
  border-radius: 15px;
  margin-top: 15px;
  width: 70%;
}
.porfolio-proyect-box {
  display: flex;
  border-radius: 25px;
  background: url(/src/assets/images/exampleProyect.png) 50% center / cover
    no-repeat white;
  box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 20px 0px;
  height: 50vh;
  width: 250px;
  min-width: 170px;
  max-width: 270px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease; /* Agregamos transición para suavizar el efecto */
}

.porfolio-proyect-box:hover {
  transform: scale(1.05); /* Agranda el elemento al 110% del tamaño original */
  box-shadow: rgba(0, 0, 0, 0.4) 30px 30px 30px 0px; /* Aumenta la sombra al hacer hover */
  filter: brightness(1.2); /* Ilumina el elemento al hacer hover */
  cursor: pointer;
}

.portfolio .carousel {
  width: 40%;
  padding: 10px;
  margin: 10px;
  
}

.portfolio .carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
  justify-content: center;
 
}

.portfolio .carousel-inner {
  padding: 10px;
}
.portfolio .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--primary-color);
  border-radius: 100%;
  padding: 25px;
}
.portfolio .carousel-control-prev-icon:focus,
.carousel-control-next-icon:focus {
  background-color: var(--primary-color);
  border-radius: 100%;
  padding: 25px;
  opacity: 0;
}

.par {
  margin-top: 20px;
}
.impar {
  margin-bottom: 20px;
}
.portfolio-text-box {
  display: flex;
  justify-content: center;
}
  .carousel-indicators {
  display: none; /* Oculta los marcadores inferiores */
}
.modal_rectangule {
  position: absolute;
  top: 450px;
  left: 60%;
  min-width: 40%;
  width: auto;
  height: 10%; /* Puedes ajustar la altura del rectángulo según tus necesidades */
  background-color: #8987c1; /* Color del rectángulo superpuesto */
  z-index: 1;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: start;
  padding: 10px;
  align-items: center;
  
}
.modal_logo {
  background: url("/src/assets/images/LogoPochi.webp");
  background-position: center;
  background-size: cover;
  margin-left: 20px;
  position: relative;
  width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  background-size: cover;
  border-radius: 50%; /* Hace la imagen redonda */
  z-index: 2; /* Asegura que la imagen esté por encima del rectángulo */
}

.modal_rectangule_title {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.modal_label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
 
}

.modal_button {
  cursor: pointer;
  border-radius: 20px;
  border-color: #8987c1;
  background: #8987c1;
  margin-bottom: 30px;
  width: 30%;
  padding: 5px;
}
.modal_button_label {
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}

@media (max-width: 480px) {
  .portfolio-hr {
    width: 40%;
  }
  .portfolio-p {
    font-size: 16px;
  }
  .box-img {
    width: 30%;
  }
  .porfolio-proyect-box {
    height: auto;
    min-height: 50vh;
    width: 45%;
  }
  .modal_rectangule {
    min-width: 70%;
    left: 0%;
  }
  .modal_logo {
    width: 80px;
    height: 80px;
  }
  .modal_button {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .portfolio-hr {
    width: 30%;
  }
  .portfolio-p {
    max-width: 90%;
  }
  .box-img {
    width: 20%;
  }
  .porfolio-proyect-box {
    width: 55%;
    margin-left: 0;
    margin-right: 0;
  }
  .modal_rectangule {
    min-width: 80.2%;
    transform: translateX(-50%);
  }
  .modal_logo {
    width: 100px;
    height: 100px;
  }
  .modal_button {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .modal_rectangule {
    top: 53%;
    left: 40%;
    min-width: 60%;
  }
  .porfolio-proyect-box {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
  .modal_logo {
    width: 120px;
    height: 120px;
    margin-left: 0;
  }
  .modal_label {
    padding-top: 50px;
  }
}
@media (min-width: 990px) and (max-width: 1000px) {
  .modal_rectangule {
    top: 56%;
    left: 40%;
    min-width: 60%;
  }
  .modal_logo {
    width: 120px;
    height: 120px;
    margin-left: 0;
  }
  .modal_label {
    padding-top: 50px;
  }
  .porfolio-proyect-box {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .modal_logo {
    width: 120px;
    height: 120px;
    margin-left: 0;
  }
}
